# Due to this issue https://github.com/hyprwm/Hyprland/discussions/11961
# We have to create a new desktop entry file for brave to --disable-features=WaylandWpColorManagerV1
# Probably do the same for all Chromium-based browsers
# Original desktop file at /etc/profiles/per-user/pexea12/share/applications/brave-browser.desktop

[Desktop Entry]
Version=1.0
Name=Brave Web Browser (Modified)
GenericName=Web Browser
Comment=Access the Internet
Exec=/home/pexea12/.local/bin/brave-wayland %U
StartupNotify=true
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/home/pexea12/.local/bin/brave-wayland

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/home/pexea12/.local/bin/brave-wayland --incognito
